*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #282828;
}
.clock{
    display: flex;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    background: url(img/clock-sam.png); 
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #a06363;
}
.clock::before{
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    background: #747474;
    border-radius: 50%;
    z-index: 99;
}
.clock .hour,.clock .min,.clock .sec{
    position: absolute;
}
.clock .hour,.hr{
    width: 160px;
    height: 160px;
}
.clock .min,.mn{
    width: 190px;
    height: 190px;
}
.clock .sec,.sc{
    width: 230px;
    height: 230px;
}
.hr::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 88px;
    background: #ffb510;
    z-index: 9;
    border-radius: 6px 6px 0 0;
}
.mn::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 98px;
    background: #8b8b8b;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.sc::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 150px;
    background: #e5e5e5;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.hr,.mn,.sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50px;
}